<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/intruct.css">
<title>Home</title>
<meta name="viewport" content="initial-scale=1, user-scalable=yes" />
</head>

<body>
<header class="clearfix">
    <div id="logo"></div>
    <p id="headnum">+65 9868 8161</p>
    <nav>
        <ul>
            <li><a href="/static/index.html">Home</a></li>
            <li class="active"><a href="/static/instructors.html">Instructors</a></li>
            <li><a href="/static/classes.html">Classes</a></li>
            <li><a href="/static/testimonial.html">Testimonial</a></li>
            <li><a href="/static/about.html">About</a></li>
            <li><a href="/static/contact.html">Contact</a></li>    
        </ul>
    </nav>
</header>
<div id="container" class="clearfix">
<div id="content">
    <h3 id="h3content">Our Team</h3>
     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
    </br></br>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
</div>
    <div id="team" class="clearfix">
        <h3 id="h3team">Our Team</h3>
        <div class="instcont">
            <img src="img/1.jpg">
            <h3>Andrew Chou</h3>
            <h4>Stanford University &#39;10</h4>
            <p>Andrew is passionate about education and has vast experience teaching at every level. He has a diverse range of experience serving as a teaching assistant for university engineering courses, a residential peer health educator for university students, a physical sciences lecturer for an MCAT preparatory course, a dissection tutor for medical school anatomy classes, a peer tutor for preclinical medical sciences, a primary instructor for an experimental surgery seminar, and the chief editor for a medical foreign language course. He believes that a systematic approach and tailoring education to an individual&#39;s needs are critical for optimal learning.</p>
        </div>
        <div class="instcont">
            <img src="img/1.jpg">
            <h3>Petty Chen</h3>
            <h4>Duke University &#39;10</h4>
            <p>Petty believes in innovation in education and pioneered student-driven education initiatives. While acting as Class President at the Duke-NUS Graduate Medical School, she developed a peer-tutoring support network aimed at pairing junior medical students with senior students to provide individualized academic support. To address Singapore&#39;s multilingual population, she created LINGO, a medical foreign language class aimed at providing junior trainees with basic competency in dialects. In addition, she is a peer tutor for the general surgery and obstetrics & gynaecology clinical clerkships, as well as a biological sciences lecturer for an MCAT preparatory course.</p>
        </div>
        <!--<div class="instcont">
            <img src="img/1.jpg">
            <h3>Mr Eugene Tan</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="instcont">
            <img src="img/1.jpg">
            <h3>Mr Eugene Tan</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="instcont">
            <img src="img/1.jpg">
            <h3>Mr Eugene Tan</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="instcont">
            <img src="img/1.jpg">
            <h3>Mr Eugene Tan</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>-->
    </div>
</div>
<footer><p>&copy 2014 lightpoint</p></footer>
</body>
</html>

