<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/testi.css">
<title>Home</title>
<meta name="viewport" content="initial-scale=1, user-scalable=yes" />
</head>

<body>
<header class="clearfix">
    <div id="logo"></div>
    <p id="headnum">+65 9868 8161</p>
    <nav>
        <ul>
            <li><a href="/static/index.html">Home</a></li>
            <li><a href="/static/instructors.html">Instructors</a></li>
            <li><a href="/static/classes.html">Classes</a></li>
            <li class="active"><a href="/static/testimonial.html">Testimonial</a></li>
            <li><a href="/static/about.html">About</a></li>
            <li><a href="/static/contact.html">Contact</a></li>    
        </ul>
    </nav>
</header>
<div id="container" class="clearfix">
    <div class="testimon clearfix">
        <div class="student">
            <img src="img/1.jpg">
            <h3>John Doe</h3>
            <p>Student, Nanyang JC</p>
        </div>
        <div class="bubble">
            <p>Mr Tan really helped me in my work. </p>
        </div>
    </div>
    <div class="testimon clearfix">
        <div class="student">
            <img src="img/1.jpg">
            <h3>John Doe</h3>
            <p>Student, Nanyang JC</p>
        </div>
        <div class="bubble"></div>
    </div>
    <div class="testimon clearfix">
        <div class="student">
            <img src="img/1.jpg">
            <h3>John Doe</h3>
            <p>Student, Nanyang JC</p>
        </div>
        <div class="bubble"></div>
    </div>
    <div class="testimon clearfix">
        <div class="student">
            <img src="img/1.jpg">
            <h3>John Doe</h3>
            <p>Student, Nanyang JC</p>
        </div>
        <div class="bubble"></div>
    </div>
</div>
<footer><p>&copy 2014 lightpoint</p></footer>
</body>
</html>

