html, body{
  background: #e8e8e8
}
header{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #1c1c1c;
  margin-top: 30px;
}
#logo{
  float: left;
  width: 160px;
  height: 60px;
  background: url(logo.png);
  margin-bottom: 20px;
}
#headnum{
  float: left;
  margin-left: 10px;
  margin-top: 30px;
  font-size: 1.5em;
  font-weight: 300;
}
nav{
  margin-top: 35px;
  float: right;
}
nav ul{
  list-style: none;
}
nav ul li{
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.08em;
  display: inline-block;
  margin-left: 30px;
}
nav ul li a{
  color: #1c1c1c;
  text-decoration: none;
  padding-bottom: 0px;
}
nav ul li a:hover, .active{
  background: #e07f27;
  transition: 0.3s;
  color: #f6f6f6;
}
footer{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #1c1c1c;
  margin-bottom: 30px;
}
footer p{
  text-align: right;
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}